<h1>Crear Cuenta</h1>

<form action=""  method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label>Correo :</label>
        <input type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Celular :</label>
        <input type="tel" name="celular" class="form-control">
    </div>
    <div class="form-group">
        <label class="form-list__row">Contraseña :</label>
        <input type="password" name="password" class="form-control">
    </div>
    <button class="btn btn-outline-info">Crear Cuenta</button>
</form>