<h1>Iniciar Sesion</h1>

<form action=""  method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label>Usuario :</label>
        <input type="email" name="usuario" class="form-control">
    </div>
    <div class="form-group">
        <label class="form-list__row">Contraseña :</label>
        <input type="password" name="password" class="form-control">
    </div>

    <button class="btn btn-outline-info">Iniciar Sesion</button>

</form>