
<center><h1>Ingresar Comentario</h1></center>

<br><br>
<div>
    <form method="post">
    
    <div class="form-group">
        <label>Comentario</label>
        <input  asp-for="Comentarios" class="form-control">
    </div>
    <button class="btn btn-primary">Regisrar Comentario</button>
</form>
</div>