@{
    ViewData["Title"] = "Ingresar Meme";
}

<form method="post">

    

    <div class="form-group">
        <label>Titulo:</label>
        <input  class="form-control">
    </div>
    <div class="form-group">
        <label>Imagen del Meme</label>
        <input  class="form-control">
    </div>
    <button class="btn btn-primary">Regisrar Meme</button>
</form>